<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin | Registered Users </title>
    <link rel="stylesheet" href="main_style.css">
    <link rel="icon" href="tab_icon.png">


    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>


</head>

<div class="top_heading">
    <b>Bus Ticket Booking System</b>
</div>

<div class="nav_bar">
  <ul >
    <li><a href="/admin/listout"> Home </a></li >
    <li><a href="/admin/newtrips"> Add New Trips </a></li>
    <li><a href="/admin/history"> Available Trips </a></li>
    <li><a href="/logout"> Logout </a></li>
  </ul>
</div>

<body>
    <div class="admin_class_header">
      <h1>Registered Users</h1>
        <table border="1">
            <thead>
              <tr>
                <th>User ID</th>
                <th>USER NAME</th>
                <th>USER EMAIL</th>
                <th>USER ROLE</th>
                <th>PROFILE PIC</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="u:${userlist}">
                <td th:text="${u.user_id}"></td>
                <td th:text="${u.name}"></td>
                <td th:text="${u.email}"></td>
                <td th:text="${u.role}"></td>
                <td><img th:src="@{${u.getProfileImagePath}}"></td>
              </tr>
            </tbody>
          </table>
    </div>
</body>

</html>