<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bus Ticket | List Out </title>
    <link rel="stylesheet" href="main_style.css">
    <link rel="icon" href="tab_icon.png">


    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>


</head>

<div class="top_heading">
    <b>Bus Ticket Booking System</b>
</div>

<div class="nav_bar">
  <ul >
    <li><a href="/admin/listout"> Home </a></li >
    <li><a href="/admin/newtrips"> Add New Trips </a></li>
    <li><a href="/admin/history"> Available Trips </a></li>
    <li><a href="/logout"> Logout </a></li>
  </ul>
</div>

<body>
    <div class="admin_class_header">
      <h1>Filtered Results</h1>
        <table border="1">
            <thead>
              <tr>
                <th>TRIP ID</th>
                <th>TRIP ORIGIN</th>
                <th>TRIP DESTINATION</th>
                <th>TRIP DISTANCE (KM)</th>
                <th>TRIP PRICE (Rs)</th>
                <!--<th>TRIP TEST</th>-->
              </tr>
            </thead>
            <tbody>
              <tr th:if="${sortby}=='origin'"  th:each="t:${triplist}" >
                    <td th:if="${t.origin}==${p}" th:text="${t.id}"></td>
                    <td th:if="${t.origin}==${p}" th:text="${t.origin}"></td>
                    <td th:if="${t.origin}==${p}" th:text="${t.destination}"></td>
                    <td th:if="${t.origin}==${p}" th:text="${t.distance}"></td>
                    <td th:if="${t.origin}==${p}" th:text="${t.price}"></td>
                    <!--<td th:text="${p}"></td>-->
              </tr>
              <tr th:if="${sortby}=='destination'"  th:each="t:${triplist}" >
                <td th:if="${t.destination}==${p}" th:text="${t.id}"></td>
                <td th:if="${t.destination}==${p}" th:text="${t.origin}"></td>
                <td th:if="${t.destination}==${p}" th:text="${t.destination}"></td>
                <td th:if="${t.destination}==${p}" th:text="${t.distance}"></td>
                <td th:if="${t.destination}==${p}" th:text="${t.price}"></td>
                <!--<td th:text="${p}"></td>-->
              </tr>
            </tbody>
          </table>
          <a href="/admin/history">Filter More</a>
    </div>
</body>

</html>