<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bus Ticket | Home </title>
    <link rel="stylesheet" type="text/css" href="main_style.css">
    <link rel="icon" href="tab_icon.png">

</head>

<div class="top_heading">
    <b>Bus Ticket Booking System</b>
</div>

<div class="nav_bar">
    <ul >
        <li><a href="/user/index"> Home </a></li>
        <li><a href="/user/renew"> Renew </a></li>
        <li><a href="/user/bookticket"> Book Ticket </a></li>
        <li><a href="/user/payment"> Payment </a></li>
        <li><a href="/signin"> Logout </a></li>
      </ul>
</div>

<body>
    <div class="admin_class_header">
        <h1>Journey History</h1>
        <table border="1">
            <thead>
              <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="j:${journeyList}">
                <td th:text="${j.origin}"></td>
                <td th:text="${j.destination}"></td>
                <td th:text="${j.price}"></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="admin_class_header">
        <h1>Renewal Status:</h1><label><p th:text="${days}"> </p> Days left to Renew</label>
        <br>
        <h1>Pending Payment:</h1><p th:text="${pending}" ></p>Rs. Left to pay<br>
        <a href="/user/payment">Pay Now</a>
    </div>
<script>
  var m="[[${pending}]]"
  if(m>0){
  alert("You have pending payments. Please pay now. Use the payment Gateway!!!");}

  var d="[[${days}]]"
  if (d<1){
    alert("You should renew your Bus Pass!");
    console.log(m);
  }
</script>
<img th:src="'/user-photos/'+${src}" width="200" height="200"/ >
<!--<img src="/user-photos/0/pic1.jpg"/>-->
<!--<img src="E:\VS Code Scripts\Zoho Internship\Spring Applications\app2\app2\user-photos\0"/>-->
</body>


</html>