<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bus Ticket | Renew </title>
    <link rel="stylesheet" type="text/css" th:href="main_style.css">
    <link rel="icon" href="tab_icon.png">
</head>

<div class="top_heading">
    <b>Bus Ticket Booking System</b>
</div>

<div class="nav_bar">
    <ul >
        <li><a href="/user/"> Home </a></li>
        <li><a href="/user/renew"> Renew </a></li>
        <li><a href="/user/bookticket"> Book Ticket </a></li>
        <li><a href="/user/payment"> Payment </a></li>
        <li><a href="/logout"> Logout </a></li>
      </ul>
</div>

<body>
    <div class="renew_class">
        <form th:action="@{/user/process_renew}" method="POST" th:object="${renewobg}">
            <h1>Renew Your Bus Pass:</h1><br>
            <input type="radio" name="rb1" value="six" > 6 Months
            <br>
            <input type="radio" name="rb1" value="twelve" > 12 Months<br>
            <input type="submit" value="Submit"/>
        </form>
        
    </div>



</body>

</html>